@page
@model MovieBooker.Pages.LoginModel
@{
}
@using MovieBooker.Models

<link rel="stylesheet" href="~/fonts/material-icon/css/material-design-iconic-font.min.css" asp-append-version="true" />
    <!-- Main css -->
<link rel="stylesheet" href="~/css/StyleLoginRegister.css" asp-append-version="true" />

<section class="sign-in">
    <div class="container">
        <div class="signin-content">
            <div class="signin-image">
                <figure><img src="~/images/signin-image.jpg" alt="sing up image"></figure>
              
            </div>

            <div class="signin-form">
                <h2 class="form-title">Welcome CGV Cinema</h2>
                <form method="POST" class="register-form" id="login-form">
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" asp-for="User.Email" id="email" placeholder="name@example.com" />
                    </div>
                    <div class="form-group">
                        <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" asp-for="User.Password" id="your_pass" placeholder="Password" />
                    </div>
                    <div class="form-group">
                        <a asp-page="/ForgotPassword/ForgotPassword">Forgot Password?</a>  
                        <a asp-page="/Register/Register">Sign Up?</a>
                    </div>
                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </div>
                    <div class="form-group form-button">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                    </div>
                </form>
                <div class="social-login">
                    <span class="social-label">Or login with</span>
                    <ul class="socials">
                        <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                        <li><a asp-page-handler="LoginGoogle"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="vendor/jquery/jquery.min.js"></script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
